data/processed_imuposer
data/processed_imuposer_25fps
data/raw
!data/.gitkeep

# experiments
checkpoints/*
!checkpoints.gitkeep

results/

ProcessMocap
src/imuposer/smpl/SMPL_NEUTRAL.pkl

**/__pycache__/
**/lightning_logs/
**/wandb/
**/*.egg-info/
**/.ipynb_checkpoints/
.DS_Store
