data/*
# experiments
checkpoints/*
results
src/imuposer/smpl/SMPL_NEUTRAL.pkl

ProcessMocap
src/imuposer/smpl/SMPL_NEUTRAL.pkl

**/__pycache__/
**/lightning_logs/
**/wandb/
**/*.egg-info/
**/.ipynb_checkpoints/
.DS_Store
